home.local, casa.local, home.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy homer:8080
}

pihole.local, pihole.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy pihole:80
}

vaultwarden.local, vault.local, contraseñas.local, contras.local, vault.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode gzip

  # Notifications redirected to the WebSocket server
  reverse_proxy /notifications/hub vaultwarden:3012

  # Proxy everything else to Rocket
  reverse_proxy vaultwarden:80 {
    # Send the true remote IP to Rocket, so that vaultwarden can put this in the
    # log, so that fail2ban can ban the correct IP.
    header_up X-Real-IP {remote_host}
  }
}

openbooks.local, openbooks.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy openbooks:80
}

wallabag.local, wallabag.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy wallabag:80
}

memos.local, memos.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy memos:5230
}

radicale.local, radicale.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy radicale:5232
}

# todo: should dockerize it in the future
tab.local, tab.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  root * /etc/tabspace/
  file_server
}

cloud.local, cloud.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy 192.168.0.176:443 {
    header_up Host {upstream_hostport}
    header_up X-Real-IP {remote_host}
  }
}

photos.local, photos.box {
  tls /root/certs/cert.pem /root/certs/key.pem
  reverse_proxy 192.168.0.176:2342
}
